# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore all __pycache__ directories recursively
**/__pycache__/

# Ignore database files
chroma_db/
*.db

# Ignore virtual environments and dependency files
venv/
.env
*.log


extracted_text/
uploaded_pdfs/

extracted_text
uploaded_pdfs

